openapi: 3.1.0
info:
  title: RubyGems Activity API
  description: >-
    The RubyGems Activity API provides endpoints that return the most
    recently added and most recently updated gems on RubyGems.org. The
    latest endpoint returns the 50 gems most recently published to the
    registry, while the just-updated endpoint returns the 50 most recently
    modified gems. These endpoints are useful for building activity feeds,
    monitoring new releases, and tracking changes across the Ruby ecosystem.
  version: '1.0'
  contact:
    name: RubyGems.org Support
    url: https://help.rubygems.org
  termsOfService: https://rubygems.org/pages/about
externalDocs:
  description: RubyGems.org API Documentation
  url: https://guides.rubygems.org/rubygems-org-api/
servers:
  - url: https://rubygems.org/api/v1
    description: Production Server
tags:
  - name: Activity
    description: >-
      Endpoints for monitoring recently added and recently updated gems
      on RubyGems.org.
paths:
  /activity/latest.json:
    get:
      operationId: getLatestGems
      summary: Get Latest Gems
      description: >-
        Returns the 50 gems most recently added to RubyGems.org. This
        endpoint provides a snapshot of the newest gems published to the
        registry and is useful for building activity feeds and monitoring
        new package releases.
      tags:
        - Activity
      security: []
      responses:
        '200':
          description: Successful response with array of latest gems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Gem'
                maxItems: 50
  /activity/just_updated.json:
    get:
      operationId: getJustUpdatedGems
      summary: Get Recently Updated Gems
      description: >-
        Returns the 50 most recently updated gems on RubyGems.org. This
        endpoint returns gem versions that have been most recently modified,
        making it useful for tracking updates and changes across the Ruby
        package ecosystem.
      tags:
        - Activity
      security: []
      responses:
        '200':
          description: Successful response with array of recently updated gems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GemVersion'
                maxItems: 50
components:
  schemas:
    Gem:
      type: object
      description: A Ruby gem hosted on RubyGems.org
      properties:
        name:
          type: string
          description: The name of the gem
        downloads:
          type: integer
          description: Total number of downloads for this gem
        version:
          type: string
          description: The current (latest) version number
        version_created_at:
          type: string
          format: date-time
          description: Timestamp when the current version was created
        version_downloads:
          type: integer
          description: Download count for the current version
        platform:
          type: string
          description: The platform of the gem (e.g., ruby, java)
        authors:
          type: string
          description: Comma-separated list of gem authors
        info:
          type: string
          description: Short description of the gem
        licenses:
          type: array
          items:
            type: string
          description: List of licenses for the gem
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional metadata key-value pairs
        sha:
          type: string
          description: SHA-256 checksum of the gem file
        project_uri:
          type: string
          format: uri
          description: URI to the gem project page on RubyGems.org
        gem_uri:
          type: string
          format: uri
          description: URI to download the gem file
        homepage_uri:
          type: string
          format: uri
          description: URI to the gem homepage
        source_code_uri:
          type: string
          format: uri
          description: URI to the gem source code
        dependencies:
          type: object
          properties:
            development:
              type: array
              items:
                $ref: '#/components/schemas/Dependency'
              description: Development dependencies
            runtime:
              type: array
              items:
                $ref: '#/components/schemas/Dependency'
              description: Runtime dependencies
          description: Gem dependency information
    GemVersion:
      type: object
      description: A specific version of a Ruby gem
      properties:
        authors:
          type: string
          description: Comma-separated list of version authors
        built_at:
          type: string
          format: date-time
          description: Timestamp when the version was built
        created_at:
          type: string
          format: date-time
          description: Timestamp when the version was published
        description:
          type: string
          description: Full description of the gem version
        downloads_count:
          type: integer
          description: Number of downloads for this version
        number:
          type: string
          description: The version number
        summary:
          type: string
          description: Short summary of the gem version
        platform:
          type: string
          description: The platform for this version
        prerelease:
          type: boolean
          description: Whether this is a prerelease version
        licenses:
          type: array
          items:
            type: string
          description: Licenses for this version
        sha:
          type: string
          description: SHA-256 checksum of the gem file
    Dependency:
      type: object
      description: A gem dependency
      properties:
        name:
          type: string
          description: Name of the dependency gem
        requirements:
          type: string
          description: Version requirements string
