openapi: 3.1.0
info:
  title: RubyGems Activity Gems API
  description: The RubyGems Activity API provides endpoints that return the most recently added and most recently updated gems on RubyGems.org. The latest endpoint returns the 50 gems most recently published to the registry, while the just-updated endpoint returns the 50 most recently modified gems. These endpoints are useful for building activity feeds, monitoring new releases, and tracking changes across the Ruby ecosystem.
  version: '1.0'
  contact:
    name: RubyGems.org Support
    url: https://help.rubygems.org
  termsOfService: https://rubygems.org/pages/about
servers:
- url: https://rubygems.org/api/v1
  description: Production Server
tags:
- name: Gems
  description: Endpoints for retrieving gem metadata, listing owned gems, submitting new gems, and yanking gem versions.
paths:
  /gems/{gemName}.json:
    get:
      operationId: getGemInfo
      summary: Get Gem Information
      description: Returns detailed information about a specific gem, including its name, downloads count, current version, authors, version downloads, homepage URI, and dependency lists for runtime and development.
      tags:
      - Gems
      security: []
      parameters:
      - $ref: '#/components/parameters/gemName'
      responses:
        '200':
          description: Successful response with gem details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gem'
        '404':
          description: Gem not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /gems.json:
    get:
      operationId: listOwnedGems
      summary: List Gems Owned By The Authenticated User
      description: Returns an array of gem objects that the authenticated user owns. Requires a valid API key for authentication.
      tags:
      - Gems
      responses:
        '200':
          description: Successful response with array of owned gems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Gem'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /gems:
    post:
      operationId: pushGem
      summary: Submit A Gem
      description: Submit a built RubyGem (.gem file) to RubyGems.org. The gem binary must be included in the request body. On successful submission, the gem is published and available for installation.
      tags:
      - Gems
      parameters:
      - name: OTP
        in: header
        description: One-time passcode for multi-factor authentication if enabled on the account.
        required: false
        schema:
          type: string
      requestBody:
        description: The built .gem file binary
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Gem successfully registered
          content:
            text/plain:
              schema:
                type: string
                example: 'Successfully registered gem: example (1.0.0)'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - gem version already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /gems/yank:
    delete:
      operationId: yankGem
      summary: Yank A Gem Version
      description: Remove a specific gem version from RubyGems.org. Yanked gems are no longer available for installation but their metadata is retained. The gem name, version, and optionally platform must be specified.
      tags:
      - Gems
      parameters:
      - name: gem_name
        in: query
        description: Name of the gem to yank
        required: true
        schema:
          type: string
      - name: version
        in: query
        description: Version number to yank
        required: true
        schema:
          type: string
      - name: platform
        in: query
        description: Platform of the gem version to yank, such as ruby, java, or x86_64-linux.
        required: false
        schema:
          type: string
      - name: OTP
        in: header
        description: One-time passcode for multi-factor authentication if enabled on the account.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Gem version successfully yanked
          content:
            text/plain:
              schema:
                type: string
                example: 'Successfully yanked gem: example (1.0.0)'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Gem or version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /gems/{gemName}/reverse_dependencies.json:
    get:
      operationId: getReverseDependencies
      summary: Get Reverse Dependencies
      description: Returns an array of gem names that depend on the specified gem. This is useful for understanding the downstream impact of changes to a gem.
      tags:
      - Gems
      security: []
      parameters:
      - $ref: '#/components/parameters/gemName'
      responses:
        '200':
          description: Successful response with array of dependent gem names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - rails
                - sinatra
        '404':
          description: Gem not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api_key.json:
    get:
      operationId: getApiKey
      summary: Get API Key
      description: Retrieve the API key for the authenticated user. Requires HTTP Basic authentication with email and password.
      tags:
      - Gems
      security:
      - basicAuth: []
      responses:
        '200':
          description: Successful response with API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  rubygems_api_key:
                    type: string
                    description: The API key for authenticating API requests
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oidc/trusted_publisher/exchange_token:
    post:
      operationId: exchangeOidcToken
      summary: Exchange OIDC Token For API Key
      description: Exchange an OIDC identity token from a trusted publisher for a short-lived RubyGems API key. This enables automated gem publishing from CI/CD systems without storing long-lived API keys.
      tags:
      - Gems
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jwt
              properties:
                jwt:
                  type: string
                  description: The OIDC identity token from the trusted publisher
      responses:
        '200':
          description: Successful token exchange
          content:
            application/json:
              schema:
                type: object
                properties:
                  rubygems_api_key:
                    type: string
                    description: Short-lived API key
                  name:
                    type: string
                    description: Name of the API key
                  scopes:
                    type: array
                    items:
                      type: string
                    description: Scopes granted to the API key
                  expires_at:
                    type: string
                    format: date-time
                    description: Expiration time of the API key
        '400':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Gem:
      type: object
      description: A Ruby gem hosted on RubyGems.org
      properties:
        name:
          type: string
          description: The name of the gem
        downloads:
          type: integer
          description: Total number of downloads for this gem
        version:
          type: string
          description: The current (latest) version number
        version_created_at:
          type: string
          format: date-time
          description: Timestamp when the current version was created
        version_downloads:
          type: integer
          description: Download count for the current version
        platform:
          type: string
          description: The platform of the gem (e.g., ruby, java)
        authors:
          type: string
          description: Comma-separated list of gem authors
        info:
          type: string
          description: Short description of the gem
        licenses:
          type: array
          items:
            type: string
          description: List of licenses for the gem
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional metadata key-value pairs
        yanked:
          type: boolean
          description: Whether this gem version has been yanked
        sha:
          type: string
          description: SHA-256 checksum of the gem file
        project_uri:
          type: string
          format: uri
          description: URI to the gem project page on RubyGems.org
        gem_uri:
          type: string
          format: uri
          description: URI to download the gem file
        homepage_uri:
          type: string
          format: uri
          description: URI to the gem homepage
        wiki_uri:
          type: string
          format: uri
          description: URI to the gem wiki
        documentation_uri:
          type: string
          format: uri
          description: URI to the gem documentation
        mailing_list_uri:
          type: string
          format: uri
          description: URI to the gem mailing list
        source_code_uri:
          type: string
          format: uri
          description: URI to the gem source code
        bug_tracker_uri:
          type: string
          format: uri
          description: URI to the gem bug tracker
        changelog_uri:
          type: string
          format: uri
          description: URI to the gem changelog
        funding_uri:
          type: string
          format: uri
          description: URI to the gem funding page
        dependencies:
          type: object
          properties:
            development:
              type: array
              items:
                $ref: '#/components/schemas/Dependency'
              description: Development dependencies
            runtime:
              type: array
              items:
                $ref: '#/components/schemas/Dependency'
              description: Runtime dependencies
          description: Gem dependency information
    Error:
      type: object
      description: Error response from the RubyGems.org API
      properties:
        error:
          type: string
          description: Error message
    Dependency:
      type: object
      description: A gem dependency
      properties:
        name:
          type: string
          description: Name of the dependency gem
        requirements:
          type: string
          description: Version requirements string
  parameters:
    gemName:
      name: gemName
      in: path
      description: The name of the gem
      required: true
      schema:
        type: string
      example: rails
externalDocs:
  description: RubyGems.org API Documentation
  url: https://guides.rubygems.org/rubygems-org-api/
